# 國立臺灣師範大學附屬高級中學校園網路管理小組 社團組織章程                          民國108年x月x日正式實行
## 第一章 總則
第一條:本社團定名為「國立臺灣師範大學附屬高級中學校園網路管理小組(Campus Networking Management Club)」，簡稱網管小組(CNMC)，以下簡稱本社。
第二條:本社宗旨為傳承網路管理知識並管理校園機房中的主機，以維護學校的網路資源，使得學校的系統更加通順流暢。最大理念即為創造最佳的社團，創造最好的學習環  境，讓社員們有美好的高中生活。
第三條:本社社辦社址位於師大附中內技藝館三樓電腦教室旁。
## 第二章 社員資格
第一條:凡認同本社宗旨並對於資訊領域有熱情之師大附中在學生，經入社申請後即為本社社員。
## 第三章 社員之權利及義務
第一條:凡本社社員均享有以下權利:
第二條:凡本社社員均須負以下義務:
## 第四章 社團幹部
第一條:總組長即社長，需統領全社並負起經營社團之責任。
第二條:總組長不克前往重要集會時之代理幹部為副總組長(副社長)，其後為
## 第五章 社員大會
第一條:社員大會為本社最高權力機構，由本社全體社員組成，但庶務由社團幹部會議討論之。
第二條:社員大會之職權:
       (一)選舉總組長及各幹部(高一下)
       (二)修改本社組織章程
第三條:社員大會每學期應至少召開一次，由總組長召開。大會之所有討論事項皆須出席社員之絕對多數通過。
